/* --------- Главные настройки --------- */
@font-face{
    font-family: 'Nunito';
    src: url('NunitoSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face{
    font-family: 'Nunito';
    src: url('NunitoSans-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'Nunito';
    src: url('NunitoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
body{
  font-size: 13px;    
  background: #F9F9F9;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
li{
  text-decoration: none;
  list-style: none;
}
button{
  outline: none;
}
button:active{
  outline: none;
}
html { 
 position:relative; 
 min-height:100%;
}

/* ----------- общие --------- */

.task-main{
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
}
.task-content{
  max-width: 600px;
  min-height: 600px;
  margin: 0 auto;
  padding: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ---- добавление ----- */
.task-header{
  display: flex;  
  width: 100%;
  height: 50px;    
}
.task-header .add-input{
  width: 100%;
  border: none;
  padding: 5px;
  font-size: 15px;
  border: 1px solid #8FCF4A;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; 
  border-right: none;
  color: #505050;
}
.task-header .add-input:focus{
  border: 1px solid #59B038;
  border-right: none;
}
.task-header .add{
  width: 50px;
  font-size: 15px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(to top, #59B038, #8FCF4A);  
  transition: 0.2s ease-in-out;
}
.task-header .add:hover{
  cursor: pointer;
  box-shadow: inset 0px 0px 15px 0px #59B038;
}
.task-header .add:active{
  box-shadow: inset 0px 0px 15px 0px #40971F;
}

/* ---- вывод ---- */

.task-body{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.task-body .task-container{
  width: 100%;
}
.task-container{
  display: flex;
  justify-content: center;
  height: 50px;
  text-overflow: ellipsis;
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
}
.task-container .task-label{
  width: 100%;
  word-break: break-all;
  /*overflow: hidden;*/
  padding: 5px;  
  border: 1px solid #78AFDA;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
  color: #505050;
  order: 0;
  resize: none;
}

.task-label:focus{
  outline: none;
}

.task-update{
  width: 100%;
  word-break: break-all;
  overflow: hidden;
  padding: 5px;  
  border: 1px solid #78AFDA;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
  color: #505050;
  order: 0;
  resize: none;  
}
.task-container .delete{
  width: 50px;
  font-size: 15px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(to top, #C5452D, #EB6B51);
  transition: 0.2s ease-in-out;
}
.task-container .delete:hover{
  cursor: pointer;
  box-shadow: inset 0px 0px 15px 0px #C5452D;
}
.task-container .delete:active{
  box-shadow: inset 0px 0px 15px 0px #AD2D15;
}
.task-container .update{
  width: 50px;
  font-size: 15px;
  border: none;
  color: #fff;
  background: linear-gradient(to top, #448ECC, #78AFDA);
  transition: 0.2s ease-in-out;
}
.task-container .update:hover{
  cursor: pointer;
  box-shadow: inset 0px 0px 15px 0px #448ECC;
  
}
.task-container .update:active{
  box-shadow: inset 0px 0px 15px 0px #256FAD;
}

.task_null{
  width: 100%;
  text-align: center;
  color: #906060;
  font-size: 15px;
  font-weight: bold;
  margin-top: 30px;
  animation: null 1s ease-in-out;
}

/* ---- пагинация ---- */

.task-page-container{
  display: flex;
  justify-content: center;
}
.task-page-content{
  width: 600px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  flex-wrap: wrap;
}
.task-page-content a{
  margin-left: 15px;
  padding: 5px;
  width: 32px;
  text-align: center;
  border-radius: 5px;
  box-shadow: inset 0px 0px 15px 0px #448ECC;
  background-color: #78AFDA;
  color: #fff;
}
.task-page-content a:active{
  box-shadow: inset 0px 0px 15px 0px #256FAD;
}

.task-page-content span{
  margin-left: 15px;
  padding: 5px;
  width: 32px;
  text-align: center;
  border-radius: 5px;
  background-color: #448ECC;
  color: #fff;
}
.task-page-content a:hover, span:hover{
  background-color: #448ECC;
  cursor: pointer;
}




/* ------ модальное окно ------ */

.dialog-fon{
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
  background: rgba(170, 170, 170, 0.5);   
  z-index: 100;
}

.dialog-container{
  position: fixed;
  top: 40%;
  left: 50%;
  display: none;
  z-index: 500;
}


.dialog{
  /*position: relative;
  top: 200px;
  left: -150px;*/
  background-color: #d9d9d9;
  border-radius: 5px;
  border: 1px solid gray;
  width: 300px;
  height: 200px;
  margin-left: -150px;
  margin-top: -100px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

@keyframes modal_open {
  from {
    margin-top: -30px;
    opacity: 0;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}
@keyframes modal_close {
  from {
    margin-top: 0px;
    opacity: 1;
  }
  to {
    margin-top: -30px;
    opacity: 0;
  }
}


/* ----- всплывающее добавление --- */ 
.task-header-container{
  margin-top:   10px;
  height: 50px;
  width: 100%;  
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.add-content{
  width: 100%;  
  display: none;
}
.add-button{
  
}

@keyframes add-content-open{
  from {
    margin-left: 500px;
    opacity: 0;
  }
  to {
    margin-left: 0px;
    opacity: 1;
  }
}

@keyframes add-content-close{
  from {
    margin-left: 0px;
    opacity: 1;
  }
  to {
    margin-left: 500px;
    opacity: 0;
  }
}



/* ----- анимации -----  */




@keyframes null{
  from {
    margin-top: 15px;
    opacity: 0;
  }
  to {
    margin-top: 30px;
    opacity: 1;
  }
}

@keyframes task_add {
  from {
    margin-top: 0px;
    opacity: 0;
  }
  to {
    margin-top: 30px;
    opacity: 1;
  }
}

@keyframes task_delete {
  from {
    position: relative;
    top: 0px;
    opacity: 1;
  }
  to {
    position: relative;
    top: -30px;
    opacity: 0;
  }
}

/* ----- адаптив ----- */
@media screen and (max-width: 200px){
  .task-page-content{
     flex-direction: column;
     align-items: center;     
  }
  .task-page-content a, span{
    margin-top: 5px;
  }
}

@media screen and (max-width: 768px){
  .task-container .task-label{    
    overflow-y: scroll;
  }
}


/* --- подгрузка доков --- */

.loadfile{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadfile button{
  margin-right: 25px;
}






/* ---- jspractice --- */

.center{
  display: flex;
  justify-content: center;
}


/* --- модальные --- */
.modal-fone{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: none;
}

.modal-container{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  margin-left: -150px;
  margin-top: -250px;
  background-color: #fff;
  z-index: 500;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  color: #505050;
  display: none;
}

.modal-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 5px;
}


/* --- вкладки ---*/
.tab-btn{
  display: flex;
  height: 15%;
}

.btn-tab{
  flex-grow: 1;
  border: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #EEEEEE;
  outline: none;
  box-shadow: inset 0 0 5px 0 #E1E1E1;  
}
.btn-tab:hover{
  cursor: pointer;
}
.btn-tab:active{
  box-shadow: inset 0 0 5px 0 #C0C0C0;
}

.btn-tab-active{
  border: none;
  background-color: #d9d9d9;
  box-shadow: inset 0 0 5px 0 #B0B0B0;
}
.btn-tab-active:active{
  box-shadow: inset 0 0 5px 0 #909090;
}

.tab-content{
  width: 100%;
  height: 100%;
  border: 1px solid #d9d9d9;
  border-top: none;
}




@keyframes modal-open{
  from{
    margin-top: -220px;
    opacity: 0;
  }
  to{
    margin-top: -250px;
    opacity: 1;
  }
}

@keyframes modal-close{
  form{
    margin-top: -250px;
    opacity: 1;
  }
  to{
    margin-top: -220px;
    opacity: 0;
  }
}



/* --- менюшка ---- */
.folder-body{
  display: flex;
}

.folder-container{
  width: 150px;
  display: flex;
  margin-left: 10px;
}

.folder-content{
  display: flex;  
}

.folder{
  position: relative;
  width: 150px;
  height: 100px;
  background-color: red;
  z-index: 1;
  cursor: pointer;
}

.setting{
  position: relative;
  width: 25px;
  height: 20px;
  right: 25px;  
  background-color: blue;
  z-index: 3;
}

.setting-drop{
  position: absolute; 
  flex-direction: column;
  width: 80px;
  margin-top: 25px;
  margin-left: 100px;
  background-color: #F9F9F9;
  /*border: 1px solid #B8B8B8;*/
  box-shadow: 0px 2px 5px 0px gray;
  text-align: center;
  z-index: 11;
  height: 105px;
  display: none;
  border-radius: 2px;
  overflow: hidden;
}

.setting-drop::after{
  content: '';
  position: absolute;
  margin-top: -10px;
  margin-left: 40%;
  border: 5px solid transparent;
  border-bottom: 5px solid #F9F9F9;
}

.setting-drop a + a{
  margin-top: 10px;
}

.drop-fon{
  /*background-color: rgba(250,250,250, 0.9);*/
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  display: none;
}

@keyframes drop-fadein{
  from{
    opacity: 0;
    height: 0;

  }
  to{    
    opacity: 1;
    height: 105px;
  }
}

/* -- всплывающая менюшка справа -- */

.menu-container{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(250,250,250, 0.5);
  z-index: 1000;
  display: none;  
}
.menu-fon{
  height: 100%;
  width: 100%;
}
.menu-content{
  height: 100%;
  width: 350px;
  background-color: rgba(200,250,200, 0.5);
}

@keyframes menu-open{
  from{
    width: 0;
  }
  to{    
    width: 350px;
  }
}
@keyframes menu-close{
  from{
    width: 350px;
  }
  to{    
    width: 0px;
  }
}